[private]
_[[.RecipePrefix]]_init:
    cd [[.ShellPath]] && rustup show active-toolchain | grep -F '[[.RustVersion]]' && cargo fetch --locked

[private]
_[[.RecipePrefix]]_format:
    cd [[.ShellPath]] && cargo fmt --all

[private]
_[[.RecipePrefix]]_format_check:
    cd [[.ShellPath]] && cargo fmt --all -- --check

[private]
_[[.RecipePrefix]]_lint:
    cd [[.ShellPath]] && cargo clippy --workspace --all-targets --locked -- -D warnings

[private]
_[[.RecipePrefix]]_typecheck:
    cd [[.ShellPath]] && cargo check --workspace --all-targets --locked

[private]
_[[.RecipePrefix]]_test:
    cd [[.ShellPath]] && cargo test --workspace --locked

[private]
_[[.RecipePrefix]]_build:
    cd [[.ShellPath]] && cargo build --workspace --locked --release

[private]
_[[.RecipePrefix]]_ci:
    cd [[.ShellPath]] && RUSTDOCFLAGS='-D warnings' cargo doc --workspace --no-deps --locked
