[private]
_[[.RecipePrefix]]_format_check:
    #!/usr/bin/env sh
    set -eu
    cd [[.ShellPath]]
    find . -type f -name '*.md' -exec awk '/[ \t]+$/ { print FILENAME ":" FNR; failed=1 } END { exit failed }' {} +
    find . -type f -name '*.md' -exec awk 'index($0, "\t") { print FILENAME ":" FNR; failed=1 } END { exit failed }' {} +

[private]
_[[.RecipePrefix]]_test:
    cd [[.ShellPath]] && test -s README.md
