[private]
_[[.RecipePrefix]]_init:
    #!/usr/bin/env sh
    set -eu
    cd [[.ShellPath]]
    zig version | grep -Fx '[[.ZigVersion]]'
    mkdir -p .cache/zig-global
    ZIG_GLOBAL_CACHE_DIR="$PWD/.cache/zig-global" zig build --fetch

[private]
_[[.RecipePrefix]]_format:
    cd [[.ShellPath]] && zig fmt build.zig src

[private]
_[[.RecipePrefix]]_format_check:
    cd [[.ShellPath]] && zig fmt --check build.zig src

[private]
_[[.RecipePrefix]]_typecheck:
    #!/usr/bin/env sh
    set -eu
    cd [[.ShellPath]]
    target="$(./scripts/zig-target)"
    mkdir -p .cache/zig-global
    ZIG_GLOBAL_CACHE_DIR="$PWD/.cache/zig-global" zig build check -Dtarget="$target" --summary all

[private]
_[[.RecipePrefix]]_test:
    #!/usr/bin/env sh
    set -eu
    cd [[.ShellPath]]
    target="$(./scripts/zig-target)"
    mkdir -p .cache/zig-global
    ZIG_GLOBAL_CACHE_DIR="$PWD/.cache/zig-global" zig build test -Dtarget="$target" --summary all

[private]
_[[.RecipePrefix]]_build:
    #!/usr/bin/env sh
    set -eu
    cd [[.ShellPath]]
    target="$(./scripts/zig-target)"
    mkdir -p .cache/zig-global
    ZIG_GLOBAL_CACHE_DIR="$PWD/.cache/zig-global" zig build -Dtarget="$target" -Doptimize=ReleaseSafe --summary all

[private]
_[[.RecipePrefix]]_ci:
    cd [[.ShellPath]] && test -x zig-out/bin/[[.PackageName]] && test "$(zig-out/bin/[[.PackageName]])" = [[.ProjectNameShellQuoted]]
