version: "2"

linters:
  default: none
  enable:
    - errcheck
    - errorlint
    - ineffassign
    - nolintlint
    - staticcheck
    - unused
  exclusions:
    generated: strict

formatters:
  enable:
    - gofmt
    - goimports
