{
  "name": "[[.PackageName]]",
  "version": "0.1.0",
  "private": true,
  "type": "module",
  "packageManager": "pnpm@[[.PNPMVersion]]",
  "engines": {
    "node": ">=[[.NodeVersion]] <[[.NodeNextMajor]]"
  },
  "scripts": {
    "build": "tsc -p tsconfig.build.json",
    "format": "prettier --write .",
    "format:check": "prettier --check .",
    "lint": "eslint .",
    "test": "vitest run",
    "typecheck": "tsc --noEmit --pretty false"
  },
[[if .HasNodeRuntimeDependencies]]  "dependencies": {[[if .AWSCDK]]
    "aws-cdk-lib": "[[.AWSCDKLibVersion]]",
    "constructs": "[[.ConstructsVersion]]"
[[else if .Pulumi]]
    "@pulumi/pulumi": "[[.PulumiSDKVersion]]"
[[end]]  },
[[end]]  "devDependencies": {
    "@eslint/js": "[[.ESLintJSVersion]]",
    "@types/node": "[[.NodeTypesVersion]]",
[[if .AWSCDK]]    "aws-cdk": "[[.AWSCDKVersion]]",
[[end]]    "eslint": "[[.ESLintVersion]]",
    "prettier": "[[.PrettierVersion]]",
    "typescript": "[[.TypeScriptVersion]]",
    "typescript-eslint": "[[.TypeScriptESLintVersion]]",
    "vitest": "[[.VitestVersion]]"
  }
}
