set dotenv-load := false

import 'just/common.just'
[[range .Components]]import 'just/components/[[.RecipeFile]]'
[[end]]
default:
    @just --list

init: _common-init[[range .InitRecipes]] [[.]][[end]]

[[if .HasFormat]]
format:[[range .FormatRecipes]] [[.]][[end]]
[[end]]

[[if .HasFormatCheck]]
format-check:[[range .FormatCheckRecipes]] [[.]][[end]]
[[end]]

[[if .HasLint]]
lint:[[range .LintRecipes]] [[.]][[end]]
[[end]]

[[if .HasTypecheck]]
typecheck:[[range .TypecheckRecipes]] [[.]][[end]]
[[end]]

[[if .HasTest]]
test:[[range .TestRecipes]] [[.]][[end]]
[[end]]

[[if .HasBuild]]
build:[[range .BuildRecipes]] [[.]][[end]]
[[end]]

check: _common-check[[if .HasFormatCheck]] format-check[[end]][[if .HasLint]] lint[[end]][[if .HasTypecheck]] typecheck[[end]][[if .HasTest]] test[[end]][[range .CheckRecipes]] [[.]][[end]]

ci: check _common-ci[[if .HasBuild]] build[[end]][[range .CIRecipes]] [[.]][[end]]
