[private]
_[[.RecipePrefix]]_init:
    cd [[.ShellPath]] && [[.Engine]] init -backend=false -lockfile=readonly -input=false

[private]
_[[.RecipePrefix]]_format:
    cd [[.ShellPath]] && [[.Engine]] fmt -recursive

[private]
_[[.RecipePrefix]]_format_check:
    cd [[.ShellPath]] && [[.Engine]] fmt -check -diff -recursive

[private]
_[[.RecipePrefix]]_typecheck:
    cd [[.ShellPath]] && [[.Engine]] validate
